
@{
    ViewBag.Title = "Settings";
}

<h2>Settings</h2>

<ul class="list-group">
    <li class="list-group-item">
        @Html.ActionLink("Manage User Roles", "ManageUserRoles", "Roles", null, null)
    </li>
</ul>
   

